<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Todo</title>
  </head>
  <body>
    <div id="container" class="">

      <div id="header-wrapper">

        <div id="header" class="">
          <h1>To do app</h1>
        </div>

        <div id="add-item" class="">
          <form id="item-form" class="" action="/" method="post">
            <input id="new-item" type="text" name="new_item">
            <button id="sumbit-item" type="submit"> Add </button>
          </form>
        </div>

      </div>

      <div id="item-list-wrapper" class="">
        <ol id="item-list">
          <% for(var i = 0; i < data.length; i++){ %>
            <li><%= data[i] %></li>
          <% } %>
        </ol>
      </div>

      <!-- <div style="text-align: center; color: white; padding-bottom: 2px;">
        <p><%= data.length %></p>
      </div> -->

      <div id="footer-wrapper" class="">
        <small id="footer">苏ICP备18042592号-1</small>
      </div>

    </div>

    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
